:root {
    --color-blue :#1A2B3B;
    --color-background : #E5E5E5;
    --color-titre1 : #535353;
    --color-titre2 : #839FC6 ;
    --font-size-name : 25px;
    --font-size-titre2 : 16px;
    --font-size-title : 20px;
    --font-size-text : 12px;
    --color-text :#636363;
    
}
/* Réinitialisation des styles par défaut */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

/* Style du corps de la page */
body {
    background-color: #94D9EA;
    font-family: 'inter';
} 

/* Style de la section principale */
.main-content {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* Style de la section de gauche */
.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: var(--color-blue);
}

/* Style de la section de droite */
.right-section {
    grid-column: span 5;
    background-color: var(--color-background);
    height: 100%;
}

/* Style du contenu de gauche */
.left-content {
    padding: 2rem 3rem;
}

/* Style du profil */
.profile {
    width: 100%;
    border-bottom: 1px solid #c6c9ca;
}

/* Style de l'image du profil */
.image {
    width: 100%;
    text-align: center;
}

.profile img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 5px 5px 5px 5px;
}

/* Style de la carrière */
.career {
    font-size: var(--font-size-title);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Style des titre principales */
.main-title {
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #f7f7f7ec;
    padding-top: 3rem;
}

/* Style des informations du profil */
.profile-info ul {
    padding-top: 2rem;
}

.profile-info ul li {
    padding: .4rem 0;
    display: flex;
    align-items: center;
    color: #fff;
}

.profile-info ul li i {
    padding-right: 1rem;
    font-size: var(--font-size-text);
    color: #fff;
}

/* Style de la section des compétences */
.skills-section ul {
    padding-top: 2rem;
    border-top: 1px solid #c6c9ca;
}

.skills-section ul li {
    display: grid;
    padding: .4rem 0;
}

/* Style de la barre de progression */
.progress-bar {
    width: 100%;
    height: .4rem;
    background-color: #2f81ed5b;
    position: relative;
}

.progress {
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #2D9CDB;
    border-radius: 12px;
}

/* Styles spécifiques des barres de progression */
.p-progress {
    width: 70%;
}

.ps-progress {
    width: 90%;
}

.g-progress {
    width: 85%;
}

.h-progress {
    width: 70%;
}

.c-progress {
    width: 85%;
}

.m-progress {
    width: 63%;
}



/* Style du titre des compétences */
.skill-title {
    text-transform: uppercase;
    color: #f7f7f7;
    font-size: var(--font-size-text);
}

/* Style des paragraphes */
.para {
    border-top: 1px solid #c6c9ca;
 }
 .sub-para{
    color: #fff;
    padding: .4rem 0;
    font-size : var(--font-size-text);
}

/* style de section droite */
.right-content {
 padding: 2rem 3rem;
}

.paragraphe {
    border-left: 1px solid #000;
    padding-left: 10px;
    position: relative;
    padding-top: 0px;
    padding-bottom: 12px;
}
.About-sect h4{
    font-size: var(--font-size-name);
}
.About-sect p{
    font-size: var(--font-size-titre2);
}
.exprience-sect h4  {
 font-size: var(--font-size-title);
}

.paragraphe bar {
    font-size: var(--font-size-text);
    color: var(--color-blue);
}
.paragraphe p {
    font-size: var(--font-size-text);
    color: var(--color-text);
}
.paragraphe .noir {
    font-weight: bold;
    color: #000;
}
.bar::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    left: -6px;
    margin-top: 0px;
    padding-top: 0px ;
}
.para-experience{
    display: grid ;
    grid-template-columns: repeat(2,1fr);
    border-top: 1px solid #000;
    padding-top: 5px;
}
.line-bottom {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}
.block {
    float: left;
    width: 20%;
    padding-left: 15px;
  }
  .icon {
    padding-top: 12px;
  }




        /*Media Querries*/
       
        @media screen and (max-width:1200px){
            .main-content{
                grid-template-columns: repeat(1, 1fr);
            }
            .profile img{
                width: 40%;
            }
        }
        @media screen and (max-width:700px){
            .profile img{
                width: 60%;
            }
        }
        
        @media  screen and (max-width:701px) {
            .interet img {
                width : 30px;
            }
            .interet p {
                font-size: 6px;
                
            }
            
        }